:root {
    --orange: #DEB38C;
    --darkpink: #CCA599;
    --lightgrey: #D1C1B7;
    --background: #D5C7BB;
    --lightbrown: #F6F3F1;
}

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 100;
    font-size: 25pt;
}

/***************
    LOG OUT
***************/
#log-out{
    position: fixed;
    top: 3%;
    right: 3%;
}

#log-out a{
    background-color: var(--lightgrey);
    text-decoration: none;
    color: white;
    width: 10vw;
    font-size: 16pt;
    padding: 4px 15px;
    border-radius: 25px;
    font-weight: 200;
    margin: auto;
}

#log-out a:hover{
    background-color: var(--orange);
}

/****************
    HEADER
****************/
body {
    background-image: url('../img/background.jpg');
}

header {
    height: 3.2em;
    width: 100vw;

}

nav {
    background-color: white;
    text-align: center;
}

nav ul {
    background-color: var(--lightgrey);
    text-align: center;
    border: 3px solid white;
    display: inline-block;
    padding: 7px 20px;
    margin-bottom: 5px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

nav li {
    background-color: var(--darkpink);
    color: white;
    list-style: none;
    text-align: center;
    border: 3px solid white;
    display: inline-block;
    padding: .4em .2em;
}


nav li a {
    font-size: 20pt;
    background-color: var(--lightgrey);
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 5px 10px;
    margin: 0;
}

/*********
  LOG-IN
*********/
#mainLogin{
    margin-top: 2.5em;
    width: 50vw;

}

#login-screen {
    margin-left: 30px;
    margin-right: 30px;
}

#login-screen h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 37pt;
    padding: 20px 0 10px 0;
    border-bottom: 2px dashed var(--darkpink);
}

#login-screen p{
    margin-top: 10px;
    font-size: 17pt;
    text-align: center;
}

#login-screen div{
    margin-top: 20px;
}

#login-screen form{
    margin: 30px;
}

#login-screen label{
    margin-top: 10px;
    font-size: 17pt;
    text-align: center;
}

#login-screen input{
    width: 80%;
    background-color: white;
}

.buttonsLogin{
    background-color: var(--lightgrey);
    text-decoration: none;
    color: white;
    width: 10vw;
    font-size: 16pt;
    padding: 4px 15px;
    border-radius: 25px;
    font-weight: 200;
    margin: auto;
}

.buttonsLogin:hover{
    background-color: var(--orange);
}


#errorMessage p {
    color: var(--orange);
}






/************
    HOME
************/
main {
    margin: auto;
    margin-top: 10px;
    width: 80vw;
    height: 80vh;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 10px 20px 10px rgb(0 0 0 / 20%);
}

main h1 {
    color: var(--darkpink);
    padding: 10px 0 5px 40px;

}

.books {
    display: flex;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button {
    text-align: right;
    margin-right: 2em;
}

.button a {
    background-color: var(--lightgrey);
    text-decoration: none;
    color: white;
    font-size: 16pt;
    padding: 4px 15px;
    border-radius: 25px;
    font-weight: 200;
}

.button a:hover {
    background-color: var(--orange);
}

/*************************
  BOOKSHELF AND WISHLIST
*************************/
.headerTitle {
    display: flex;
}

.headerTitle a {
    text-decoration: none;
    color: var(--darkpink);
    background-color: white;
    border-radius: 50px;
    border: 1px solid var(--darkpink);
    font-size: 16pt;
    font-weight: 600;
    margin-left: 2em;
    margin-top: .5em;
    padding: 8px 20px 1px 20px;
}

.headerTitle a:hover{
    background-color:var(--orange);
    color: white;
    border: 1px solid var(--orange);
}

.noMaxHeigt {
    height: auto;
}

.noMaxHeigt .books article {
    margin: .5em 1em;
}

#bookInfoWishlist {
    margin-top: 30px;
    display: none; 
}



.bookInfo div img {
    height: 80vh;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
}

#mainInfo {
    background-color: var(--lightbrown);
    margin: .5em 1em;
    padding: .5em;
    width: 47vw;
    border-radius: 25px;
}

#personalInfo {
    background-color: var(--lightbrown);
    margin: .5em 1em;
    padding: .5em;
    width: 47vw;
    border-radius: 25px;
}

#quote {
    background-color: var(--lightbrown);
    margin: .5em 1em;
    padding: .5em;
    border-radius: 25px;
    width: 21vw;
}

#quoteInput{
    background-color: var(--lightbrown);
    margin: .5em 1em;
    padding: .5em;
    border-radius: 25px;
    width: 21vw;
}

#rating {
    background-color: var(--lightbrown);
    margin: .5em 1em;
    padding: .5em;
    border-radius: 25px;
    width: 21vw;
}

#ratingInput{
    background-color: var(--lightbrown);
    margin: .5em 1em;
    padding: .5em;
    border-radius: 25px;
    width: 21vw;
}

#mainInfo p {
    font-size: 15pt;
}

#personalInfo p {
    font-size: 15pt;
}

#quote p {
    font-size: 15pt;
}

#quoteInput p {
    font-size: 13pt;
}

#rating p {
    font-size: 15pt;
}

#ratingInput p {
    font-size: 13pt;
}

#extraInfo {
    display: flex;
}

#buttonsInfo {
    display: flex;
    justify-content: end;
    margin-right: .7em;
}

#buttonsInfo p {
    background-color: var(--lightgrey);
    text-decoration: none;
    color: white;
    font-size: 16pt;
    margin: .2em .4em;
    padding: 4px 15px;
    border-radius: 25px;
    font-weight: 200;
}

#buttonsInfo p:hover {
    background-color: var(--orange);
}



/**************
    FORM
**************/
input {
    size: '';
    width: 50%;
    font-size: 14pt;
    background-color: var(--lightbrown);
    border: none;
    border-bottom: 1px dashed;

}

#ratingInput input {
    size: '';
    width: 10%;
}

#quoteInput input {
    size: '';
    width: 50%;
}

textarea:focus, input:focus{
    outline: none;
}


/*********************
    LIBRARY
*******************/

#searchText{
    color: var(--darkpink);
    font-size: 17pt;
    margin-left: 11em;
}

#searchText input {
    width: 80%;
    background-color: white
}

#genreButtons p{
    width: 10vw;
    font-size: 16pt;
    background-color: var(--background);
    text-align: center;
    margin: 20px 50px;
    padding: 10px;
    color: white;
    border-radius: 25px;
}

#genreButtons p:hover{
    background-color: var(--orange);
}

.libraryBooks{
    display: flex;
}

.libraryBooks #foundBooks{
    display: flex;
    flex-wrap: wrap;
}

.libraryBooks #foundBooks article {
    flex: 1 0 11%;
    margin: .6em;
}

#addBook {
    display: none;
}
 #addBook div img{
     height: 80vh;
     border-top-left-radius: 7%;
     border-bottom-left-radius: 7%;
 }

